@page "/products"
@inject IProductApiService ProductService
<h3>Products</h3>

@if (NewProduct is not null)
{
    <ProductCreationFormComponent OnCancel="Cancel" NewProduct="@NewProduct" OnSave="EditOrCreate"></ProductCreationFormComponent>
}
else if(ChosenProduct is not null)
{
    <ProductDetailComponent Product="@ChosenProduct" OnCancel="Cancel"></ProductDetailComponent>
}

else if (ProductModels is not null)
{
    <ProductListComponent OnCreate="Create" Products="ProductModels" OnClick="Choose" OnDelete="Delete" OnEdit="Edit" />
}
else
{
    <LoadingComponent></LoadingComponent>
}
@code {
    public IEnumerable<ProductModel> ProductModels { get; set; }

    public ProductModel ChosenProduct { get; set; }

    public CreateOrUpdateProductModel NewProduct { get; set; }

    private string errorMessage { get; set; }

    private List<string> MinionImages = new List<string> { "https://static.wikia.nocookie.net/despicableme/images/7/74/AVL_Agent_Stuart_2.jpg/revision/latest?cb=20240526191511", "https://static.wikia.nocookie.net/despicableme/images/8/8f/AVL_Agent_Kevin.jpg/revision/latest?cb=20240525052619", "https://static.wikia.nocookie.net/despicableme/images/8/84/Screenshot_2016-12-31-19-35-48_1.jpg/revision/latest?cb=20161231114054" };

    private async Task GetProducts()
    {
        ChosenProduct = null;
        ProductModels = null;
        var result = await ProductService.GetAllAsync();
        if (result.IsSuccess)
        {
            ProductModels = result.Data;
        }
        else
        {
            //display error
            errorMessage = string.Join(' ', result.Errors);
        }
    }

    //reacts/handles a click on the 'New' button
    //displays the form
    private void NewCategory()
    {
        errorMessage = null;
        ChosenProduct = new();
    }


    private void Cancel()
    {
        ChosenProduct = null;
        NewProduct = null;
    }


    protected override async Task OnInitializedAsync()
    {
        await GetProducts();

    }
    private async Task Delete(int id)
    {
        await ProductService.DeleteAsync(id);

        StateHasChanged();

    }

    private async Task EditOrCreate(CreateOrUpdateProductModel createOrUpdateProductModel)
    {
        //check if id == 0 => new category else update category
        //call service class to send post to api
        var result = new ResultModel<ProductModel>();
        if(createOrUpdateProductModel.Images is null)
        {
            createOrUpdateProductModel.Images = MinionImages;
        }


        if (createOrUpdateProductModel.Id.Equals(0))
        {   //Was causing bad requests
            if (createOrUpdateProductModel.CategoryId==0)
            {
                createOrUpdateProductModel.CategoryId = 1;
            }
            result = await ProductService.CreateAsync(createOrUpdateProductModel);
        }
        else
        {
            //update the category
            result = await ProductService.UpdateAsync(createOrUpdateProductModel);

        }
        //check if success
        if (result.IsSuccess)
        {

        }
        else
        {
            //show error message
            errorMessage = string.Join("<br>", result.Errors);
        }

        //hide form => newCategory = null
        //reload categories
        await GetProducts();
        ChosenProduct = null;
        NewProduct = null;
    }

    private void Choose(ProductModel product)
    {
        ChosenProduct = product;
    }

    private void Create()
    {
        NewProduct = new();
    }

    private void Edit(ProductModel productModel)
    {
        //transform/project to newCategory to update
        NewProduct = new();
        NewProduct.Id = productModel.Id;
        NewProduct.Title = productModel.Title;
        NewProduct.Price = productModel.Price;
        NewProduct.CategoryId = productModel.Category.Id;
        NewProduct.Description = productModel.Description;
        NewProduct.Images = productModel.Images;
    }
}
